<div id="current-market">
    <table id="share-data">
        <tr>
            <th>SYMBOL</th>
            <th>OPEN</th>
            <th>HIGH</th>
            <th>LOW</th>
            <th>CLOSE</th>
            <th>VOLUME</th>
            <th>%CHANGE</th>
        </tr>
        {{#each .}}
        <tr>
            <td class="symbol">{{Symbol}} </td>
            <td>{{Open}}</td>
            <td>{{DayHigh}}</td>
            <td>{{DayLow}}</td>
            <td>{{Price}}</td>
            <td>{{Volume}}</td>
            <td>{{ChangePercent}}</td>
        </tr>
        {{/each}}
    </table>

    <div id="add-symbol"><button id="remove-stock"> - </button><input type="text" id="stock-symbol" /><button
            id="add-stock"> + </button></div>

    <div id="input-error"></div>
</div>